<html>
	<head>
		<title>New Expense</title>
	</head>
	<body>
		<form method="POST" action="/new" />
			<label for="item">Enter Item:</label>
			<input type="text" name="item" />
			<label for="amount">Enter Amount:</label>
			<input type="text" name="amount" />
			<input type="submit" value="Submiiiiit!"/>		
		</form>
	</body>
</html>
